<!-- src/pages/index.hbs -->

<section id="movembers">
<div class="row">
	<div class="col-12">
		<h2>Meet Mo Bros and Mo Sistas</h2>
		<p>Check out some genuine moustachery</p>
	</div>
</div>

{{> flippers }}

</section>

<hr />

<section id="about">

	{{> about }}

</section>


