<header id="header">
	<div class="container">

		<div id="ac-logo"></div>
		
		<div id="moustache-logo"></div>

        <h1>Movember 2013</h1>
        <h2><a href="index.html">Moustache Season</a> / <a href="about.html">About</a></h2>
      </div>
</header>