<header id="header">
	<div class="container">
		
		<div id="moustache-logo"></div>

        <h1>Movember 2013</h1>
        <h2><a class="inplace_link" href="#movembers">Moustache Season</a> / <a class="inplace_link" href="#about">About</a></h2>
      </div>
</header>